%h1 Ufoods
%p What do you feel like tonight?
%ul
  -# %h1= category.title
  %h1 Thai
  -# %li
  -#   %a{:href => "#"}= restaurant.name
  -#   %p= restaurant.description
  %li
    %a{href: '#'} Sample Thai restaurant
    %p Sample description
