@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav > li >a{
  display: block;
  padding: 15px;
  color:white;
  list-style-type: none;
}

li.navbar-text {
  color: #730E15;
}

.navbar-brand {
  color: white;
}

a:hover.navbar-brand {
  color: #730E15;
}

ul {
  list-style-type: none
}

h1 {
  text-align: center;
  color: #730E15;
}

#categories {
  padding-bottom: 20px;
}