@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav > li >a{
  display: block;
  padding: 15px;
  color:white;
  list-style-type: none;
}

li.navbar-text {
  color: #B00100;
}

.navbar-brand {
  color: white;
}

a:hover.navbar-brand {
  color: #B00100;
}

ul {
  list-style-type: none
}
